html {
    color: beige;
    height: 100%;
    background: rgb(43, 46, 54);
    font-family: 'Fira Code';
    
}

body {
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content:start;
}

.header {
    padding: 1rem 0 0.3rem 2rem;
    padding: 10px 0px 3px 20px;
}

.card {
    width: 100%;
    height: 100%;
    background-color: rgb(59, 63, 73);
    /* padding: 20px; */
    border-radius: 0.7rem;
    box-shadow: 0 4px 8px rgba(26, 30, 41, 0.445);
    color: beige;
    margin: 0.7rem;
}

.headBtn {
    color: rgb(193, 207, 236);
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0 1rem;
    text-decoration: none;

    transition: color 0.25s ease;
}

.headBtn:hover {
    color: #8694a7;
}

.row {
    margin: 0.7rem;
    margin-right: 1.25rem;
}

#visits {
    text-align: left;
}

#right-side {
    align-self: right;
}


#container {
    display: flex;
    height: 90%;
    max-height: 100%;
    width: 100%;
}

#blocks {
    width: 115%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#right-block {
    width: 30%;
    margin: 0.75rem 0px;
    margin: 0 0 1.25rem -1.25rem;
    border-radius: 0.7rem;
}

#chart {
    background: rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 15%;
    margin: 1.25rem 0 0 0;
    
}

#top-users {
    background: rgba(0, 0, 0, 0.3);
}

#website-shout {
    /* width: 90%; */
}

#pie-chart {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* margin: 0 0 0 0; */
    width: 92%;
}

#row-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#row-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60%;
    padding: 0 0;
    padding: 0px 0px;
}

#row-bottem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#visit-number {
    margin: 0 0 1rem 1.25rem;
    font-size: 2.5rem;
}

#visitors-button {
    margin-left: 1.25rem;
    color: rgb(193, 207, 236);
    font-size: 1.1rem;
    font-weight: 200;
    text-decoration: none;
    transition: color 0.25s ease;
}

#visitors-button:hover {
    color: #8694a7;
}

.heading-text-card {
    font-size: 1.1rem;
    margin-left: 1.25rem;
}